.box {
    display: flex;
    flex-direction: column;
    position: relative;
    @include font-size($box-font-size);
    font-weight: 600;
    border-radius: $box-border-radius;
    min-height: 200px;
    color: rgba(var(--crow-color), 1);
    background-color: rgba(var(--crow-background), 1);
    transition: background-color .3s linear;
}

.box-img {
    img {
        object-fit: cover;
    }
}

.box-text {
    @include padding(calc(var(--bs-gutter-x) * 0.5));
    padding-right: 2.5rem;
}

.box-link {
    display: block;
    text-decoration: none;

    &:hover {
        .box {
            background-color: rgba(var(--crow-background-hover), 1);
        }
    }

    .box {
        &::before {
            font-family: $bootstrap-icons-font;
            content: '\F135';
            color: inherit;
            font-size: $box-arrow-size;
            -webkit-text-stroke: 1px;
            bottom: 1rem;
            right: 1rem;
            position: absolute;
        }
    }
}