<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:if condition="{data.box_link}">
        <f:then>
            <f:link.typolink parameter="{data.box_link}" class="box-link">
                <f:render section="BoxContent" arguments="{_all}" />
            </f:link.typolink>
        </f:then>
        <f:else>
            <f:render section="BoxContent" arguments="{_all}" />
        </f:else>
    </f:if>
</f:section>
<f:section name="BoxContent">
    <div class="box">
        <f:if condition="{images}">
            <div class="box-img">
                <f:then>
                    <f:for each="{images}" as="image">
                        <figure class="image">
                            <f:image src="{f:uri.image(image: image)}" alt="{image.alternative}" />
                            <f:if condition="{image.description}">
                                <figcaption>{image.description}</figcaption>
                            </f:if>
                        </figure>
                    </f:for>
                </f:then>
            </div>
        </f:if>
        <div class="box-text">
            <f:format.html>{data.bodytext}</f:format.html>
        </div>
    </div>
</f:section>

</html>